  <div class="jumbotron">
    <div class="container">
        <%= form_with(scope: :session, url: sessions_path) do |f| %>
          <div class="form-login">
            <h1>その提案書、過去に誰かが作っている可能性があります。</h1>
              <h4>資料は"作る"ものではなく"買う"時代に。
              <br>
              ProposalStationは、提案資料のセカンドマーケットプレイスです。</h4>
                <%= f.label :email %>
                <%= f.email_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password %>
          </div>
          
          <div class="wrapper">
            <span class="group-btn">
              <div class="btn btn-primary btn-md">
                <%= f.submit "Log in" %>
              </div>  
            </span>
          </div>
    </div>
  </div>
<% end %>

