<body>
  <div class="container">
      <div class="row">
          <div class="col-md-offset-5 col-md-3">
            <%= form_with(scope: :session, url: sessions_path) do |f| %>
              <div class="form-login">
                <h3>Proposal Stationへようこそ</h3>
                  <h5>Proposal Statioはあなたのビジネスのスピードを円滑にします。</h5>
                    <%= f.label :email %>
                    <%= f.email_field :email %>
  
                    <%= f.label :password %>
                    <%= f.password_field :password %>
  
                <div class="wrapper">
                  <span class="group-btn">
                    <div class="btn btn-primary btn-md">
                      <%= f.submit "Log in" %>
                    </div>  
                  </span>
                </div>
              </div>
          </div>
      </div>
  </div>
  <body>
<% end %>

