
<div class="title_back_edit">
  <h1><%= @user.name %>さんのページ</h1>
  
  
  <h2><%= @user.name %>さんの投稿一覧</h2>
</div>

<table border="1">
    <tr>
      <th>タイトル</th>
      <th>概要</th>
      <th>更新日</th>
    </tr>
    
    <% @contributions.each do |contribution| %> 
    <tr>    
      <td><%= contribution.title %></td>
      <td><%= contribution.overview %></td>
      <td><%= contribution.modified %></td>
  
      <% if @user.id == current_user.id %>
          <td><%= link_to '閲覧', contribution %></td>
          <td><%= link_to '編集', edit_contribution_path(contribution) %></td>
          <td><%= link_to '削除', contribution, method: :delete, data: { confirm: '本当に削除して良いですか？?' } %></td>
      <% else %>
          <td><%= contribution.title %></td>
          <td><%= link_to '閲覧', contribution_path(contribution.id) %></td>
          <td>なんでもいい</td>
      <% end %>   
    </tr>
    <% end %>
</table>

