<%= form_with(model: contribution, local: true) do |form| %>
  <% if contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<body>
    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title, id: :contribution_title %>
    </div>
  
    <div class="field">
      <%= form.label :概要 %>
      <%= form.text_area :overview, id: :contribution_overview %>
    </div>
  
    <div class="field">
      <%= form.label :カテゴリ %>
      <%= select :contribution, :category, Contribution.categories.keys %>
    </div>
  
    <div class="field">
      <%= form.label :最終更新日 %>
      <%= form.date_select :modified, id: :contribution_modified %>
    </div>
    
    <div class="field">
      <%= form.label :データファイル %>
      <%= form.file_field :file, id: :feed_file %>
      <%= form.hidden_field :file_cache %>
    </div>
    
    <div class="actions">
      <%= form.submit %>
    </div>
    
    <% end %>
</body>
