<p id="notice"><%= notice %></p>

<h1>Contributions～資料を探す～</h1>

<table class="table table-hover">
  <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>概要</th>
      <th>カテゴリ</th>
      <th>最終更新日</th>
  </tr>

  <tr>
    <% @contributions.each do |contribution| %>
      <td><%= contribution.user.name %></td>
      <td><%= contribution.title %></td>
      <td><%= contribution.overview %></td>
      <td><%= contribution.category %></td>
      <td><%= contribution.modified %></td>
      
    <td><% if contribution.user.id == current_user.id %></td>
          <td><%= link_to '閲覧', contribution %></td>
          <td><%= link_to '編集', edit_contribution_path(contribution) %></td>
          <td><%= link_to '削除', contribution, method: :delete, data: { confirm: '本当に削除して良いですか？?' } %></td>
        <% else %>
          <td><%= contribution.title %></td>
          <td><%= link_to '閲覧', contribution_path(contribution.id) %></td>
        <% end %>  
    <tr>
    <% end %>
</table>
