<p id="notice"></p>

<div class="title_back_edit">
  <h1>投稿詳細</h1>
</div>

<div class="c_show">
  <p>
    <strong>タイトル:</strong>
    <%= @contribution.title %>
  </p>
  
  <p>
    <strong>カテゴリ:</strong>
    <%= @contribution.category %>
  </p>
  
  
  <p>
    <strong>概要:</strong>
    <%= @contribution.overview %>
  </p>
  
  <p>
    <strong>更新日:</strong>
    <%= @contribution.modified %>
  </p>
  
  <p class="img">
    <strong>Image:</strong>
    <%= image_tag @contribution.file %>
  </p>
</div>


<div class="title_back_edit">

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>

  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(contribution_id: @contribution.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(contribution_id: @contribution.id), method: :post, class: 'btn btn-primary' %>
  <% end %>

</div>
  