<!DOCTYPE html>
<html>
  <head>
    <title>Proposal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

      </div>

    		<div class="collapse navbar-collapse" id="navbarEexample7">
          <ul class="nav navbar-nav">
            <br>
            <% if logged_in? %>
              <li><%= link_to_unless_current "提案書を探す", contributions_path %></li>
              <li><%= link_to "出品する", new_contribution_path%></li>
              <li><%= link_to_unless_current "ウォッチリスト", favorites_path(current_user.id) %></li>
              <li><%= link_to_unless_current "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to_unless_current "ログアウト", session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li><%= link_to "会員登録", new_user_path %></li>
              <li><%= link_to "ログイン", new_session_path %></li>
            <% end %>
            
          </ul>
        </div>
      </div>
    </nav>          
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <%= "@2018 ProposalStation" %>
  </footer>
</html>
